# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Env
.env

# Models (too large)
models/

# Logs / temp
logs/
screenshots/

# OS
.DS_Storeruntime/secrets/
**/calendar_credentials.json
**/calendar_token.json
